#: Ignore
##: Directories
###: Hidden
/[.]*/
.venv/
.tmp/
.log/
.pytest_cache/
.git/
###;
### Wildcard
*.egg-info/
###;
###: NodeJS
node_modules/
###;
###: Builds
build/
###;
##;
##: Files
###: Wildcard
####: Generated
*.min.js
####;
###;
##;
##: Specific Files
##;
#;

#: Allow
##: Directories
###: Wildcard Directories
###;
###: Specific Directories
!.github/
###;
##;
##: Files
###: Wildcard Files
####: Source Code
!/src/*.js
####;
###;
###: Specific Files
####: Git Repository
!README.md
####;
####: NodeJS
!package.json
####;
####: PNPM
!pnpm-lock.yaml
!pnpm-workspace.yaml
####;
###;
##;
#;
